  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #e6e6e6;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #2C3E50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #2C3E50;
    cursor: pointer;
}
@media (min-width: 991px){
  .numberInput {
    max-width: 5.25em;
  }
}
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
label {
  margin-bottom: 0.1rem;
}
.rea-tab.active {
    color: rgb(24, 188, 156) !important;
}

.rea-parameter-header {
    font-size: x-large;
    line-height: 1;
}

.rea-container {
    max-width: 80%;
}

#svgDiv {
    max-width: 100%;
}

.rea-canvas {
    /*background-color: hsla(304, 100%, 57%, 0.4);*/
    position: relative;
}
.rea-canvas-2 {
    position: relative;
    top: -543px;
    height: 0;
}

#copyUrl {
    width: 95px;
}

.hidden {
    display: none;
}

.rea-reset {
    text-align: inherit;
}

.svg-info {
    width: 20px;
    fill: #95a5a6;
}
