<div class="container p-3">
    <div class="row">
        <div class="col-sm-auto mb-2">
            <label class="control-label mb-0">Printhead Angle</label>
            <div class="rea-parameter-header">
                <span class="badge badge-info"><span id="printheadAngle">90.0</span>&deg;</span>
            </div>
        </div>
        <div class="col-sm-auto mb-2">
            <label class="control-label mb-0">Vertical Dot Distance</label>
            <div class="rea-parameter-header">
                        <span id="verticalDpi" data-toggle="tooltip" data-placement="right" title=""
                              data-original-title="5.64" class="badge badge-info"><span id="vdd">4.50</span> mm</span>
            </div>

        </div>
        <div class="col-sm-auto mb-2">
            <label class="control-label mb-0">Horizontal Dot Distance</label>
            <div class="rea-parameter-header">
                        <span id="horizontalDpi" data-toggle="tooltip" data-placement="right" title=""
                              data-original-title="5.64" class="badge badge-info"><span id="hdd">4.50</span> mm</span>
            </div>
        </div>
        <div class="col-sm-auto mb-2">
            <label class="control-label mb-0">Max Dot Size</label>
            <div class="rea-parameter-header">
                <span class="badge badge-warning"><span id="maxDotSize">100</span> %</span>
                <svg data-toggle="modal" data-target="#maxDotSizeModal" class="svg-info" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 128c17.67 0 32 14.33 32 32c0 17.67-14.33 32-32 32S224 177.7 224 160C224 142.3 238.3 128 256 128zM296 384h-80C202.8 384 192 373.3 192 360s10.75-24 24-24h16v-64H224c-13.25 0-24-10.75-24-24S210.8 224 224 224h32c13.25 0 24 10.75 24 24v88h16c13.25 0 24 10.75 24 24S309.3 384 296 384z"/>
                </svg>
            </div>
        </div>
        <!--
            <div class="col-sm-auto mb-2">
                <label class="control-label mb-0">Max Speed</label>
                <div class="rea-parameter-header">
                    <span class="badge badge-info"><span id="maxSpeedMetric">540</span> m/min</span>
                    <span class="badge badge-info"><span id="maxSpeedUSA">1772</span> fpm</span>
                </div>
            </div>
        -->
    </div>

    <!--input options-->
    <div class="row align-items-center">
        <div class="col-lg mb-3">
            <label class="form-control-label" for="printheadSelect">Printhead</label>
            <select class="custom-select dod" id="printheadSelect">
                <option value="7">7-dot</option>
                <option value="16">16-dot</option>
                <option selected="" value="32">32-dot</option>
            </select>
        </div>
        <div class="col-lg mb-3">
            <label class="form-control-label">
                Line Speed <span id="lineSpeedMpm">50</span> m/min / <span id="lineSpeedFpm">164</span> fpm&nbsp;
                (Max: <span id="maxSpeedMetric">540</span> m/min, <span id="maxSpeedUSA">1,772</span> fpm )
            </label>
            <div class="form-row align-items-center">
                <div class="col-lg">
                    <input type="range" step="1" min="1" max="540" value="50" class="slider"
                           id="lineSpeedSlider">
                </div>
                <div class="col-lg-auto numberInput">
                    <input class="form-control dod" placeholder="" id="lineSpeedInput" type="text"
                           value="50" step="1" max="540" min="1" pattern="\d*">
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-lg mb-3">
            <label class="form-control-label">
                Print Height: <span id="printHeightMetric">139.5</span>mm / <span id="printHeightUSA">5.5</span>"
            </label>
            <div class="form-row align-items-center">
                <div class="col-lg">
                    <input type="range" step="0.1" min="15" max="100" value="100" class="slider dod"
                           id="printHeightSlider">
                </div>
                <div class="col-lg numberInput">
                    <input class="form-control dod" placeholder="" id="printHeightInput" type="number"
                           value="139.5" step="0.5" max="139.5" pattern="\d*">
                </div>
            </div>
        </div>
        <div class="col-lg mb-3">
            <label class="form-control-label">Stretch Ratio (%)</label>
            <div class="form-row align-items-center">
                <div class="col-lg">
                    <input type="range" step="1" min="10" max="280" value="100" class="slider dod"
                           id="stretchRatioSlider">
                </div>
                <div class="col-lg numberInput">
                    <input class="form-control dod" placeholder="" id="stretchRatioInput" type="text"
                           value="100" step="1" max="280" min="5" pattern="\d*">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-0 m-0">
    <div class="rea-canvas" id="reaCanvas"></div>
    <div class="rea-canvas-2" id="textCanvas"></div>
</div>

<div class="container mt-2">

    <!--additional input options-->
    <div class="row mb-3 align-items-center">
        <div class="col">
            <label for="textInput" class="control-label">Example Text</label>
            <input class="form-control dod" placeholder="REAJET" type="text" id="textInput" maxlength="26"
                   value="REAJET">
        </div>
        <div class="col-auto">
            <label for="actualWidth" class="control-label">Actual Width of Text</label>
            <div class="rea-parameter-header" id="actualWidthText">
                <span class="badge badge-info"><span id="actualWidthTextMetric">162.0</span> mm</span>
                <span class="badge badge-info"><span id="actualWidthTextUSA">6.4</span> "</span>
        </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg" data-font-code="65" id="fontCode">
            <label class="form-control-label" for="fontSelect">Font</label>
            <select class="custom-select dod" id="fontSelect"></select>
        </div>
        <div class="col-lg">
            <label for="scaleSelect" class="control-label">Scale</label>
            <select class="custom-select dod" id="scaleSelect">
                <option value="1.5">0.5x</option>
                <option selected="" value="3">1x</option>
            </select>
        </div>
    </div>

    <!--actual width calculation-->
    <div class="row mb-3">
        <div class="col-lg-2">
            <label for="manualDotWidth">Width (in Dots)</label>
            <input class="form-control" placeholder="100" value="100" id="manualDotWidth" type="number"
                   pattern="\d*">
        </div>
        <div class="col-lg-auto">
            <label for="actualWidth" class="control-label">Actual Width</label>
            <div class="rea-parameter-header" id="actualWidth">
                <span class="badge badge-info"><span id="actualWidthMetric">445.5</span> mm</span>
                <span class="badge badge-info"><span id="actualWidthUSA">17.5</span> "</span>
            </div>
        </div>
    </div>
</div>
