<div class="mb-3">
    <h4>HR Maximum Speed Calculator</h4>
    Max Speed
    <div class="rea-parameter-header">
        <span class="badge badge-info"><span id="maxSpeedM">76</span> m/min</span>
        <span class="badge badge-info"><span id="maxSpeedF">250</span> fpm</span>
    </div>
</div>
<div class="row align-items-center" id="hr-max-speed">
    <div class="mb-3 col-lg">
        <label class="form-control-label" for="hDpi">Horizontal Resolution</label>
        <select class="custom-select" id="hDpi">
            <option value="60">60 dpi</option>
            <option value="100">100 dpi</option>
            <option value="120">120 dpi</option>
            <option value="150">150 dpi</option>
            <option value="180">180 dpi</option>
            <option value="200">200 dpi</option>
            <option value="220">220 dpi</option>
            <option value="240">240 dpi</option>
            <option value="260">260 dpi</option>
            <option selected="" value="300">300 dpi</option>
            <option value="360">360 dpi</option>
            <option value="420">420 dpi</option>
            <option value="450">450 dpi</option>
            <option value="480">480 dpi</option>
            <option value="540">540 dpi</option>
            <option value="600">600 dpi</option>
        </select>
    </div>
    <div class="mb-3 col-lg">
        <label class="form-control-label" for="vDpi">Vertical Resolution</label>
        <select class="custom-select" id="vDpi">
            <option value="300">300 dpi</option>
            <option value="600">600 dpi</option>
        </select>
    </div>
    <div class="mb-3 col-lg-auto">
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input" id="doubleSpeed" type="checkbox">
            <label class="custom-control-label" for="doubleSpeed">Double Speed</label>
        </div>
    </div>
</div>
<h4 class="mt-3">Time/Output Calculator</h4>
<div class="mb-3">
    <div class="row justify-content-between">
        <div class="col-8">
            <div class="row">
                <div class="col-sm-auto mb-3">
                    Time Between Prints
                    <div class="rea-parameter-header mt-1"><span class="badge badge-info"><span id="time">1,440</span> ms</span></div>
                </div>
                <div class="col-sm-auto mb-3">
                    Prints Per Second
                    <div class="rea-parameter-header mt-1"><span class="badge badge-info"><span id="pps">0.7</span></span></div>
                </div>
                <div class="col-sm-auto mb-3">
                    Prints Per Minute
                    <div class="rea-parameter-header mt-1"><span class="badge badge-info"><span id="ppm">41.7</span></span></div>
                </div>
            </div>
        </div>
        <div class="col-sm-auto align-self-end mb-3">
            Units
            <label class="form-label hidden" for="units">Units</label>
            <select class="custom-select" id="units">
                <option selected="" value="usa">Inches/Feet</option>
                <option value="metric">Metric</option>
            </select>
        </div>
    </div>
    <div class="row" id="time-calc">
        <div class="col-lg mb-3">
            <label for="productLength" class="control-label">Product Length</label>
            <div class="input-group">
                <input class="form-control distance" placeholder="Length" value="24" id="productLength" type="text"
                       pattern="[0-9]+(\.[0-9]{0,2})?%?">
                <div class="input-group-append">
                    <span class="input-group-text"><span class="distanceLabel">inches</span></span>
                </div>
            </div>
        </div>
        <div class="col-lg mb-3">
            <label for="productDistance">Distance Between Products</label>
            <div class="input-group">
                <input class="form-control distance" placeholder="Distance" value="12" id="productDistance"
                       type="text" pattern="[0-9]+(\.[0-9]{0,2})?%?">
                <div class="input-group-append">
                    <span class="input-group-text"><span class="distanceLabel">inches</span></span>
                </div>
            </div>
        </div>
        <div class="col-lg mb-3">
            <label for="lineSpeed">Line Speed</label>
            <div class="input-group">
                <input class="form-control speed" placeholder="Speed" value="125" id="lineSpeed" type="number"
                       step="0.01">
                <div class="input-group-append">
                    <span class="input-group-text"><span class="speedLabel">fpm</span></span>
                </div>
            </div>
        </div>
    </div>
</div>