<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <title>REAJET Speed Calculator</title>
    <script type="text/javascript" src="{{ url_for('static', filename='global.js') }}"></script>

    <!--third party stuff-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/clipboard.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/svg.min.js') }}"></script>

    <!--local-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rea.css') }}">
    <!--manifest-->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/pwacompat.min.js') }}"></script>

    <!--icons-->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/touch-icon-iphone.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='images/touch-icon-ipad.png') }}">
    <link rel="apple-touch-icon" sizes="167x167"
          href="{{ url_for('static', filename='images/touch-icon-ipad-retina.png') }}">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ url_for('static', filename='images/touch-icon-iphone-retina.png') }}">
    <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='images/android-icon.png') }}">
    <meta name="msapplication-square310x310logo"
          content="{{ url_for('static', filename='images/microsoft-icon.png') }}">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary p-2">
    <div class="container rea-container">
        <a class="navbar-brand" href="{{ url_for('home_page') }}">REAJET Speed Calculator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="nav navbar-nav" id="reaTab" role="tablist">
                <li class="nav-item mx-2">
                    <a class="nav-link rea-tab" id="dod-tab" data-toggle="tab" href="#dod" role="tab">DOD 2.0</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link rea-tab" id="dod-ink-tab" data-toggle="tab" href="#dod-ink" role="tab">DOD 2.0 Ink
                        Consumption</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link rea-tab" id="hr-tab" data-toggle="tab" href="#hr" role="tab">HR</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link rea-tab" id="gk-tab" data-toggle="tab" href="#gk" role="tab">GK 2.0</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto dod-only">
                <li class="nav-item mx-2">
                    <a class="nav-link btn btn-link rea-reset border-0" href="{{ url_for('home_page') }}">Reset</a>
                </li>
                <li class="nav-item mx-2">
                    <button class="nav-link btn btn-link rea-share border-0" id="shareModal" data-toggle="modal"
                            data-target="#shareUrlModal">Share
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="tab-content">
    <div class="tab-pane fade" id="dod" role="tabpanel">
        {% include "dod.html" %}
    </div>
    <div class="tab-pane fade" id="hr" role="tabpanel">
        <div class="container p-3">
            <div class="row">
                <div class="col-9 mx-auto">
                    {% include "hr.html" %}
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="dod-ink" role="tabpanel">
        <div class="container p-3">
            <div class="row">
                <div class="col-9 mx-auto">
                    <div class="mb-3">
                        <h4>DOD 2.0 Ink Consumption Estimator</h4>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <div>Number of Prints per Liter</div>
                            <div class="rea-parameter-header">
                                <div class="badge badge-info" id="printsPerLiter">
                                    21,739
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div>Number of Prints per Gallon</div>
                            <div class="rea-parameter-header">
                                <div class="badge badge-info" id="printsPerGallon">
                                    82,291
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-control-label" for="inkSelect">Ink</label>
                        <select class="custom-select" id="inkSelect">
                            <option value="1">TPKD-WS 010</option>
                            <option value="2">TEP-SW 010</option>
                            <option value="3">TKD-SW 010</option>
                        </select>
                    </div>
                    <div class="form-group mb-3 slider-display">
                        <label class="form-control-label" for="pressureSelect">Pressure - <span
                                class="display">0.5</span> BAR</label>
                        <div class="form-row align-items-center">
                            <div class="col-lg">
                                <input class="slider" type="range" id="pressureSelect" step="0.05" min="0.4" max="0.8"
                                       value="0.5">
                            </div>
                            <div class="col-lg-auto">
                                <label class="hidden" for="pressureSelectInput"></label>
                                <input class="form-control numberInput" placeholder="" id="pressureSelectInput"
                                       type="number" step="0.05" min="0.4" max="0.8" value="0.5">
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-control-label" for="nozzleDiameter">Nozzle Diameter (μm)</label>
                        <select class="custom-select" id="nozzleDiameter">
                            <option value="130">130 μm</option>
                            <option value="180">180 μm</option>
                            <option value="270">270 μm</option>
                        </select>
                    </div>
                    <div class="form-group mb-3 slider-display">
                        <label class="form-control-label" for="dotSize">Dot Size - <span
                                class="display">50</span>%</label>
                        <div class="form-row align-items-center">
                            <div class="col-lg">
                                <input class="slider" type="range" id="dotSize" step="1" min="10" max="100" value="50">
                            </div>
                            <div class="col-lg-auto">
                                <label class="hidden" for="dotSizeInput"></label>
                                <input class="form-control numberInput" placeholder="" id="dotSizeInput" type="number"
                                       step="1" min="10" max="100" value="50">
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-control-label" for="dotsPerPrint">
                            Number of Dots per Print
                            <small class="text-muted">The number of dots per print can be obtained from the REA JET 2.0 Controller</small>
                        </label>
                        <input class="form-control" type="number" id="dotsPerPrint" min="1" max="999999" step="1"
                               value="1000">
                    </div>
                    <div class="alert alert-warning">
                        Ink consumption calculations are based on measurements in the laboratory:
                        3 meters of ink tubing, print head and ink supply at the same height.
                        The values displayed here may differ from real-world applications and are provided as estimates
                        only.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="gk" role="tabpanel">
        <div class="container p-3">
            <div class="row">
                <div class="col-9 mx-auto">
                    <div class="mb-3">
                        <h4>GK 2.0 Maximum Speed and Maximum Label Length Calculator</h4>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg">
                            Max Speed
                            <div class="rea-parameter-header">
                                <span class="badge badge-info"><span id="maxSpeedGkMetric">25</span> m/min</span>
                                <span class="badge badge-info"><span id="maxSpeedGkUsa">83</span> fpm</span>
                            </div>
                        </div>
                        <div class="col-lg">
                            Max Label Length
                            <div class="rea-parameter-header">
                                <span class="badge badge-info"><span id="maxLengthGkMetric">2,774</span> mm</span>
                                <span class="badge badge-info"><span id="maxLengthGkUsa">109</span> inches</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="gk-calc">
                        <div class="col-lg">
                            <label class="form-control-label" for="printheadGk">Print Head</label>
                            <select class="custom-select" id="printheadGk">
                                <option value="1">SKGK 768/256 100mm/4"</option>
                                <option value="2">SKGK 384/128 50mm/2"</option>
                            </select>
                        </div>
                        <div class="col-lg mb-3 slider-display">
                                <label class="form-control-label" for="hDpiGk">Horizontal Resolution - <span
                                        class="display">50</span> dpi</label>
                                <div class="form-row align-items-center">
                                    <div class="col-lg">
                                        <input class="slider" type="range" id="hDpiGk" step="25" min="50" max="1200" value="300">
                                    </div>
                                    <div class="col-lg-auto">
                                        <label class="hidden" for="hDpiGkInput"></label>
                                        <input class="form-control numberInput" placeholder="" id="hDpiGkInput" type="number"
                                               step="25" min="50" max="1200" value="300">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer mb-2">
    <div class="container">
        <small class="text-muted">
            &copy; REA Elektronik, Inc., v0.6, Author: Jonathan Bluhm.
            Example print is not to scale, and is for illustration purposes only.
            Does not depict actual print on any material.
        </small>
    </div>
</footer>
<!-- Max Dot Size Modal -->
<div class="modal fade" id="maxDotSizeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                To ensure correct functionality and optimum printing results, the maximum dot size must not be exceeded. If larger dots are required, a print head with a larger nozzle size should be used instead.
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="shareUrlModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Share these settings.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <label for="shareUrl"></label>
                    <input class="form-control" id="shareUrl" type="text">
                    <div class="input-group-append">
                        <button id="copyUrl" type="button" class="btn btn-primary" data-clipboard-target="#shareUrl">
                            Copy URL
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/fonts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/rea.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dod.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/hr.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/gk.js') }}"></script>

</html>